.action-buttons {
  display: flex;
  gap: 9px;
  justify-content: center;
}

.action-btn {
  width: 33px;
  height: 33px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s, background-color 0.2s;
}

.action-btn:active {
  transform: scale(0.95);
}

.view-btn {
  background-color: #eff6ff;
  color: #2563eb;
}

.view-btn:hover {
  background-color: #dbeafe;
}

.delete-btn {
  background-color: #fff1f2;
  color: #e11d48;
}

.delete-btn:hover {
  background-color: #ffe4e6;
}

.batch-page-header {
  margin-bottom: 0px;
}

.batch-page-container {
  width: 100%;
  margin: 0 auto;
}

.batch-header-left {
  display: flex;
  align-items: center;
  margin-top: -25px;
  margin-left: 27px;
  margin-bottom: -7px;
  gap: 3px;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-top: 0px;
  color: rgb(80, 80, 80);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.back-btn:hover {
  transform: scale(1.1);
}

.back-btn:active {
  transform: scale(0.9);
}

.product-title {
  font-size: 1.57rem;
  color: rgb(80, 80, 80);
}

.sales-history-title {
  font-size: 22px;
  font-weight: 600;
  color: rgb(75, 75, 75);
  margin-top: 35px !important;
}